<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorator="/web/content/index">

<head>
<title>Home</title>

<meta content="width=device-width, initial-scale=1.0" name="viewport" />
<link th:href="@{/assets/global/plugins/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css" />
<link th:href="@{/assets/global/plugins/simple-line-icons/simple-line-icons.min.css}" rel="stylesheet" type="text/css" />
<link th:href="@{/assets/global/plugins/bootstrap/css/bootstrap.min.css}" rel="stylesheet" type="text/css" />
<link th:href="@{/assets/global/plugins/uniform/css/uniform.default.css}" rel="stylesheet" type="text/css" />
<link th:href="@{/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css}" rel="stylesheet" type="text/css" />
<!-- END GLOBAL MANDATORY STYLES -->
<!-- BEGIN PAGE LEVEL STYLES -->
<link rel="stylesheet" type="text/css" th:href="@{/assets/global/plugins/select2/select2.css}" />



<!-- END PAGE LEVEL SCRIPTS -->
<!-- BEGIN THEME STYLES -->
 <link th:href="@{/assets/global/css/components.css}" id="style_components" rel="stylesheet" type="text/css" /> 
<link th:href="@{/assets/global/css/plugins.css}" rel="stylesheet" type="text/css" />
<link th:href="@{/assets/admin/layout2/css/layout.css}" rel="stylesheet" type="text/css" />
<link id="style_color" th:href="@{/assets/admin/layout2/css/themes/grey.css}" rel="stylesheet" type="text/css" />
<link th:href="@{/assets/admin/layout2/css/custom.css}" rel="stylesheet" type="text/css" />




<script th:src="@{/assets/global/plugins/jquery.min.js}" type="text/javascript"></script>


<script th:src="@{/assets/global/plugins/jquery-migrate.min.js}" type="text/javascript"></script>
<script th:src="@{/assets/global/plugins/jquery-ui/jquery-ui.min.js}" type="text/javascript"></script>
<script th:src="@{/assets/global/plugins/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js}" type="text/javascript"></script>
<script th:src="@{/assets/global/plugins/bootstrap/js/bootstrap.min.js}" type="text/javascript"></script>

<script th:src="@{/assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js}" type="text/javascript"></script>
<script th:src="@{/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js}" type="text/javascript"></script>
<script th:src="@{/assets/global/plugins/jquery.blockui.min.js}" type="text/javascript"></script>
<script th:src="@{/assets/global/plugins/jquery.cokie.min.js}" type="text/javascript"></script>
<script th:src="@{/assets/global/plugins/uniform/jquery.uniform.min.js}" type="text/javascript"></script>
<script th:src="@{/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js}" type="text/javascript"></script>
<!-- END CORE PLUGINS -->
<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script th:src="@{/assets/global/scripts/metronic.js}" type="text/javascript"></script>
<script th:src="@{/assets/admin/layout2/scripts/layout.js}" type="text/javascript"></script>
<script th:src="@{/assets/admin/layout2/scripts/demo.js}" type="text/javascript"></script>
<script th:src="@{/assets/admin/pages/scripts/portlet-draggable.js}"></script>
<!-- END PAGE LEVEL SCRIPTS -->


<script type="text/javascript" th:src="@{/assets/magnet/plugins/tinymce/js/tinymce/tinymce.min.js}"></script>
<script type="text/javascript">

jQuery(document).ready(function() {
	
	 loadTinyMCE();
     // initiate layout and plugins
     Metronic.init(); // init metronic core components
     Layout.init(); // init current layout
     Demo.init(); // init demo features
     PortletDraggable.init();
     
     $('#submitBtn').hide();

   
});



 function loadTinyMCE() {
   tinymce
       .init({
         selector : "textarea",
         theme : "modern",
         resize : "vertical",
         plugins : [
             "advlist autolink lists link image charmap  preview hr ",
             "searchreplace wordcount visualblocks visualchars code ",
             "insertdatetime  nonbreaking save table contextmenu directionality",
             "paste textcolor colorpicker textpattern" ],
         menubar : false,
         toolbar : "styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent"
       });
 }

 
 
function clearProject()
		{
			
			$('#projectName').val(""); 
			$('#projectDetails').val(""); 
		}

 function checkTextField()
{
	 $('#submitBtn').show();
	 
	
}

 function validationProject()
 {
	 var data=$('#projectName').val();
	
	 if(!data)
		 {
		 alert("Please Enter Project");
		 }

 }


</script>
</head>




<!-- BEGIN HEADER -->
	<div class="header navbar navbar-default navbar-static-top">
		<!-- BEGIN TOP BAR -->
		<div class="front-topbar">
			<div class="container">
				<div class="row">
					<div class="col-md-9 col-sm-9">
						<ul class="list-unstyle inline">
							<li><i class="fa fa-phone topbar-info-icon top-2"></i>Call us: <span>+91.44.6673 9000</span></li>
							<li class="sep"><span>|</span></li>
							<li><i class="fa fa-envelope-o topbar-info-icon top-2"></i>Email: <span>tag-india@disys.com</span></li>
						</ul>
					</div>
					<div class="col-md-3 col-sm-3 login-reg-links">
						<ul class="list-unstyled inline">
							<li><a th:href="@{/d56b699830e77ba53855679cb1d}"></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!-- END TOP BAR -->

		<div class="container">
			<div class="navbar-header">
				<!-- BEGIN LOGO (you can use logo image instead of text)-->
				<a class="navbar-brand logo-v1" href="index.html"> <img th:src="@{/assets/img/logo.png}" id="logoimg" alt="" height="50"></img>
				</a>
				<!-- END LOGO -->

			</div>
			
			

			<!-- BEGIN TOP NAVIGATION MENU -->
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li><a th:href="@{/}">&nbsp;</a></li>
					
				</ul>
			</div>
			<!-- BEGIN TOP NAVIGATION MENU -->
		</div>
	</div>
	<!-- END HEADER -->




	<!-- BEGIN PAGE CONTAINER -->
	<div class="page-container">


<!-- BEGIN BREADCRUMBS -->
<div layout:fragment="breadcrumbs">

<div class="row breadcrumbs margin-bottom-40">
		<div class="container">
			<div class="col-md-4 col-sm-4">
			
			</div>
			
			
			<div class="col-md-8 col-sm-8">
				<ul class="pull-right breadcrumb">
					<li> Pages <i class="fa fa-angle-right"></i> 
					<a th:href="@{/a6c241b8797f52e1e77317b96a2}">Home</a></li>
					<li class="active"> Project </li>
					<li><a th:href="@{/f91709c28e7e1a9127df3d234cc}">Assign JobTitle</a></li>
					<li><a th:href="@{/c832398520c6db9d8dd62cf17353}">Assign JobTitle With List</a></li>
					<!-- <li><a th:href="@{/a658279f9b983958149f31e4d84}">Competency </a></li>  -->
					
					 <li><a th:href="@{/d56b67ba538599830e756791dcb}">Logout&nbsp;</a></li>
					
				</ul>
			</div>
		</div>
	</div>
	<!-- END BREADCRUMBS -->
</div>

<div layout:fragment="content">
	<!-- BEGIN CONTAINER -->
	<div class="container">
		<!-- BEGIN SERVICE BOX -->
		<div class="row service-box">
		<div class="col-md-2"></div>
		<div class="col-md-8">
		 <div th:if="${message!=null}">
		  <div th:if="${css=='success'}" class="alert alert-success" id="alertDivId">
		        <button class="close" data-dismiss="alert"></button>
				<span th:text="${message}"></span>
		</div>
          <div th:if="${css=='danger'}" class="alert alert-danger" id="alertDivId">
		        <button class="close" data-dismiss="alert"></button>
				<span th:text="${message}"></span>
			</div>
			
			
			<div th:if="${css=='warning'}" class="alert alert-warning" id="alertDivId">
		        <button class="close" data-dismiss="alert"></button>
				<span th:text="${message}"></span>
		</div>
          </div>
          </div>
         <div class="col-md-2"></div>
			<div class="col-md-12 col-sm-12">
				<div class="tab-pane active">
					<div class="portlet box green">
						<div class="portlet-title">
							<div class="caption">
									Project Details
							</div>
						</div>
						<div class="portlet-body form">
							<div class="form-body">
										<form action="#" th:action="@{/a6c241b8797f52e1eADDproject}" th:object="${project}" method="post">
                                       <div class="model-body">
										<div class="form-group">
										  <span class="col-md-1"></span>
											<label class="col-md-3">Project Name</label>
											 <div class="col-md-6">
											<input type="text" class="form-control input-circle" id="projectName" name="projectName" th:value="*{projectName}" th:onclick="'checkTextField();'"  />
												
											</div>
											<span class="col-md-2"></span>
										</div>
										<br/>
										<br/>
										<br/>
									<br/>
										<br/>
										<div class="form-group">
										  <span class="col-md-1"></span>
											<label class="col-md-3" for="form_control_1">Project Description</label>
											<div class="col-md-6">
										<textarea id="projectDetails" style="border-width:2px;" rows="3" cols="60" name="projectDesc" class="form-control"></textarea>
											</div>
											<span class="col-md-2"></span>
										</div>
										<br/>
										<br/>
										<br/>
										<br/>
									<br/>
										<br/>
										<br/>
										<br/>
										<br/>
										<br/>
										
										
									
										
																	
									</div>
									
									<div class="modal-footer">
									<div class="row">
											<div class="col-md-offset-3 col-md-9" style="margin-left: -22%;">
												<button id="submitBtn" class="btn green" type="submit" onClick="validationProject();">Save</button>
												<input type="button" class="btn green" id="clearId" value="Clear" onClick="clearProject();" />

											</div>
										</div>
									
									</div>
								</form>
							</div>
						</div>

					</div>
				</div>

			</div>

		</div>
		<!-- END SERVICE BOX -->

		<div class="clearfix"></div>

		<div class="clearfix"></div>

	</div>
	<!-- END CONTAINER -->
</div>
</div>
<!-- BEGIN COPYRIGHT -->
	<div class="copyright">
		<div class="container">
			<div class="row">
				<div class="col-md-8">
					<p>
						<span class="margin-right-10">
							<script>
			document.write(new Date().getFullYear());
		                    </script>
		 &copy; HatchBird Solutions. ALL Rights Reserved.</span>
					</p>
				</div>
				
			</div>
		</div>
	</div>
	<!-- END COPYRIGHT -->
</html>



