<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">

<!-- BEGIN HEAD -->
<head>
<title>Skills</title>
<meta content="width=device-width, initial-scale=1.0" name="viewport" />

<!-- BEGIN GLOBAL MANDATORY STYLES -->
<link th:href="@{/assets/global/plugins/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css" />
<link th:href="@{/assets/global/plugins/bootstrap/css/bootstrap.min.css}" rel="stylesheet" type="text/css" />
<!-- END GLOBAL MANDATORY STYLES -->


<!-- BEGIN THEME STYLES -->
<link th:href="@{/assets/css/style-metronic.css}" rel="stylesheet" type="text/css" />
<link th:href="@{/assets/css/style.css}" rel="stylesheet" type="text/css" />
<link th:href="@{/assets/css/pages/page404.css}" rel="stylesheet" type="text/css" />
<link th:href="@{/assets/css/themes/green.css}" rel="stylesheet" type="text/css" id="style_color" />
<link th:href="@{/assets/css/style-responsive.css}" rel="stylesheet" type="text/css" />
<link th:href="@{/assets/css/pages/prices.css}" rel="stylesheet" type="text/css" />
<link th:href="@{/assets/css/custom.css}" rel="stylesheet" type="text/css" />


<link th:href="@{/assets/global/plugins/simple-line-icons/simple-line-icons.min.css}" rel="stylesheet" type="text/css" />

<link th:href="@{/assets/global/plugins/bootstrap/css/bootstrap.min.css}" rel="stylesheet" type="text/css" />
<link th:href="@{/assets/global/plugins/uniform/css/uniform.default.css}" rel="stylesheet" type="text/css" />
<link th:href="@{/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css}" rel="stylesheet" type="text/css" />
<!-- END GLOBAL MANDATORY STYLES -->

<!-- BEGIN PAGE LEVEL STYLES -->
<link rel="stylesheet" type="text/css" th:href="@{/assets/global/plugins/select2/select2.css}" />

<!-- END PAGE LEVEL SCRIPTS -->

<!-- BEGIN THEME STYLES -->
 <link th:href="@{/assets/global/css/components.css}" id="style_components" rel="stylesheet" type="text/css" /> 
<link th:href="@{/assets/global/css/plugins.css}" rel="stylesheet" type="text/css" />
<link th:href="@{/assets/admin/layout2/css/layout.css}" rel="stylesheet" type="text/css" />
<link id="style_color" th:href="@{/assets/admin/layout2/css/themes/grey.css}" rel="stylesheet" type="text/css" />
<link th:href="@{/assets/admin/layout2/css/custom.css}" rel="stylesheet" type="text/css" />

<!-- BEGIN PAGE LEVEL PLUGINS -->


<script type="text/javascript" th:src="@{/assets/magnet/plugins/tinymce/js/tinymce/tinymce.min.js}"></script>
<script th:src="@{/assets/global/plugins/jquery.min.js}" type="text/javascript"></script>
<script th:src="@{/assets/global/plugins/jquery-migrate.min.js}" type="text/javascript"></script>
<script th:src="@{/assets/global/plugins/jquery-ui/jquery-ui.min.js}" type="text/javascript"></script>
<script th:src="@{/assets/global/plugins/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js}" type="text/javascript"></script>
<script th:src="@{/assets/global/plugins/bootstrap/js/bootstrap.min.js}" type="text/javascript"></script>

<script th:src="@{/assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js}" type="text/javascript"></script>
<script th:src="@{/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js}" type="text/javascript"></script>
<script th:src="@{/assets/global/plugins/jquery.blockui.min.js}" type="text/javascript"></script>
<script th:src="@{/assets/global/plugins/jquery.cokie.min.js}" type="text/javascript"></script>
<script th:src="@{/assets/global/plugins/uniform/jquery.uniform.min.js}" type="text/javascript"></script>
<script th:src="@{/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js}" type="text/javascript"></script>
<!-- END CORE PLUGINS -->

<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script th:src="@{/assets/global/scripts/metronic.js}" type="text/javascript"></script>
<script th:src="@{/assets/admin/layout2/scripts/layout.js}" type="text/javascript"></script>
<script th:src="@{/assets/admin/layout2/scripts/demo.js}" type="text/javascript"></script>
<script th:src="@{/assets/admin/pages/scripts/portlet-draggable.js}"></script>
<script type="text/javascript" th:src="@{/assets/global/plugins/select2/select2.min.js}"></script>
<!-- END PAGE LEVEL SCRIPTS -->


<!-- BEGIN DATA TABLE STYLES -->
<link rel="stylesheet" type="text/css" th:href="@{/assets/global/plugins/datatables/extensions/Scroller/css/scroller.dataTables.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/assets/global/plugins/datatables/extensions/ColReorder/css/colReorder.dataTables.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.css}" />
<!-- END DATA TABLE STYLES -->



<!-- BEGIN DATA TABLE PLUGINS -->
 <script type="text/javascript" th:src="@{/assets/global/plugins/datatables/media/js/jquery.dataTables.js}"></script>
<script type="text/javascript" th:src="@{/assets/global/plugins/datatables/media/js/jquery.dataTables.min.js}"></script>
<script type="text/javascript" th:src="@{/assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js}"></script>
<script type="text/javascript" th:src="@{/assets/global/plugins/datatables/extensions/TableTools/js/dataTables.tableTools.min.js}"></script>
<script type="text/javascript" th:src="@{/assets/global/plugins/datatables/extensions/ColReorder/js/dataTables.colReorder.min.js}"></script>
<script type="text/javascript" th:src="@{/assets/global/plugins/datatables/extensions/Scroller/js/dataTables.scroller.min.js}"></script>
<script type="text/javascript" th:src="@{/assets/global/scripts/datatable.js}"></script>
<!-- END DATA TABLE PLUGINS -->



<script th:src="@{/assets/disys/js/encdec.js}" type="text/javascript"></script>


<script type="text/javascript">
jQuery(document).ready(function()
		{      
   jQuery("#leadCompetenceId").hide();
	// initiate layout and plugins
   loadTinyMCE();
  
   Metronic.init(); // init metronic core components

   Layout.init(); // init current layout
   
   Demo.init(); // init demo features
   
   PortletDraggable.init();
   
});


var count=1;
function addButton()
{
	  $('#modelBodyId').append('<div id="skillId'+count+'" class="row row-form"> <div class="form-group"><span class="col-md-1"></span><div class="col-md-4"> <select name="skills" id="skillsId"  class="form-control select2me circle" onselect=""><option th:each="competency : ${competencyList}" th:value="${competency.competencyId}" th:text="${competency.competencyName}" /></select>'
				+'</div> <span class="col-md-1"></span><div class="col-md-4"><textarea rows="3" cols="50" class="form-control"></textarea> </div><div class="col-md-2"> <i class="fa fa-times-circle" style="font-size:25px; color:red; cursor: pointer;" id="deleteBtnShow" onclick="deleteButton('+count+');"></i> </div></div></div><br/>');

	count++;
}


function deleteButton(count)
{

		 alert("you want to delete this row!");
		 $('#skillId'+count).remove();

}

function loadTinyMCE() {
	tinymce
			.init({
				selector : "textarea",
				theme : "modern",
				resize : "vertical",
				plugins : [
						"advlist autolink lists link image charmap  preview hr ",
						"searchreplace wordcount visualblocks visualchars code ",
						"insertdatetime  nonbreaking save table contextmenu directionality",
						"paste textcolor colorpicker textpattern" ],
				menubar : false,
				toolbar : "styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent"
			});
}


  
  
  function showCompetence()
  {
	  var jobTitleId=$('#jobTitleId').val();
	  var projectId=$('#projectId').val();
    $.ajax({
	     type: "POST",
	     url: "submit",
	     data: { project: projectId, jobTitle: jobTitleId } // parameters
	})
	
	
  } 
</script>


</head>

<body>

	<!-- BEGIN HEADER -->
	<div class="header navbar navbar-default navbar-static-top">
		<!-- BEGIN TOP BAR -->
		<div class="front-topbar">
			<div class="container">
				<div class="row">
					<div class="col-md-9 col-sm-9">
						<ul class="list-unstyle inline">
							<li><i class="fa fa-phone topbar-info-icon top-2"></i>Call us: <span>+91.44.6673 9000</span></li>
							<li class="sep"><span>|</span></li>
							<li><i class="fa fa-envelope-o topbar-info-icon top-2"></i>Email: <span>India@disys.com</span></li>
						</ul>
					</div>
					<div class="col-md-3 col-sm-3 login-reg-links">
						<ul class="list-unstyled inline">
							<li><a th:href="@{/d56b699830e77ba53855679cb1d}"></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!-- END TOP BAR -->

		<div class="container">
			<div class="navbar-header">
				<!-- BEGIN LOGO (you can use logo image instead of text)-->
				<a class="navbar-brand logo-v1" href="index.html"> <img th:src="@{/assets/img/logo.png}" id="logoimg" alt="" height="50"></img>
				</a>
				<!-- END LOGO -->

			</div>
			
			<!-- BEGIN TOP NAVIGATION MENU -->
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li><a th:href="@{/}">&nbsp;</a></li>
					
				</ul>
			</div>
			<!-- BEGIN TOP NAVIGATION MENU -->
		</div>
	</div>
	<!-- END HEADER -->

	                    <!-- BEGIN PAGE CONTAINER -->
						<div class="page-container">
								
								<!-- BEGIN BREADCRUMBS -->
								<div layout:fragment="breadcrumbs">
								
								<div class="row breadcrumbs margin-bottom-40">
										<div class="container">
											<div class="col-md-4 col-sm-4">
												<h1></h1>
											</div>
											<div class="col-md-8 col-sm-8">
												<ul class="pull-right breadcrumb">
													
													<li> Pages <i class="fa fa-angle-right"></i> 
													
													<a th:href="@{/a6c241b8797f52e1e77317b96a2}">Home</a></li>
													<li>
													<a th:href="@{/f86faa6bbf9ac94a7e459509a20}">Project </a> </li>
													
													<li><a th:href="@{/f91709c28e7e1a9127df3d234cc}">Assign JobTitle</a></li>
													<li><a th:href="@{/c832398520c6db9d8dd62cf17353}">Assign JobTile With List</a></li>
													<li class="active">Competency </li>
													
													 
												
												</ul>
											</div>
										</div>
									</div>
								</div>
								<!-- END BREADCRUMBS -->
								
								
									
								
								<form action="#" th:action="@{/a6c241b8797f52e1eADDskills}" th:object="${projectModel}" method="post">
								
								<div class="row">
										<div class="form-group">
										  <span class="col-md-1"></span>
											<div class="col-md-4">
											
										 <select name="project" id="projectId"  class="form-control select2me circle">
										    <option value="">Select the Project</option>
									 		<option th:each="project : ${projectList}" th:value="${project.projectId}" th:text="${project.projectName}"/>
									    	</select> 
											</div>
											<span class="col-md-1"></span>
								
								
										  <span class="col-md-1"></span>
											<div class="col-md-4">
											<select class="form-control select2me circle" name="options2"  th:onchange="'javascript:showCompetence();'" id="jobTitleId" >
									       <option value="">Select the JobTitle </option>
									 		<option th:each="jobTitle : ${jobTitleList}"  th:value="${jobTitle.jobTitleId}" th:text="${jobTitle.jobTitleName}"   />
										</select>
										<span class="col-md-1"></span>
											</div>
										</div>
										
										<!-- <div class="form-group">
							                <div class="col-sm-offset-2 col-sm-6">
							                    <button type="submit" id="bth-login"
							                            class="btn btn-primary btn-lg">Submit
							                    </button>
							                </div>
                                       </div> -->
                                       
								</div>
								<div class="row">
						     <div id="feedback"></div>
								</div>
								
								<div layout:fragment="content">
									<!-- BEGIN CONTAINER -->
									<div class="container" style="width:1350px;">
										<!-- BEGIN SERVICE BOX -->
										  <!-- BEGIN PAGE CONTENT-->
												<div class="portlet light">
													<div class="portlet-body">
														
														<div class="row" id="sortable_portlets">
															<div class="col-md-6 column sortable">
																<div class="portlet portlet-sortable box green-haze">
																	<div class="portlet-title">
																		<div class="caption">
																			<i class="fa fa-gift"></i>Existing Competency
																		</div>
																		
																	</div>
																	<div class="portlet-body">
																		<table class="table table-bordered table-striped table-condensed flip-content">
																				<thead class="flip-content">
																				<tr>
																					
																					<th>
																						 Competency Name
																					</th>
																					<th>
																						 Competency Value
																					</th>
																					
																				</tr>
																				</thead>
																				<tbody>
																				
																				<tr th:each="compSkills : ${techCompetencyList}">
																				   
																				    <td th:text="${compSkills.key}" style="width:20px;"></td>
																				    <td th:text="${compSkills.value}"></td>
																				</tr>
																			
																					</tbody>	
																					</table>
																   </div>
																</div>
																
															</div>
															
															<div class="col-md-6 column sortable">
															  
																	<div class="tab-pane active">
																		<div class="portlet portlet-sortable box blue-hoki">
																			<div class="portlet-title">
																				<div class="caption"><i class="fa fa-gift"></i> Assign Competency</div>
																			</div>
																			<div class="portlet-body form">
																				<div class="form-body">
																					<!-- <form action="#" th:action="@{/a6c241b8797f52e1eADDproject}" th:object="${project}" method="post"> -->
																						<div class="model-body">
																						 <div class="row">
																						  <div class="form-group">
																							<label class="col-md-2 control-label"></label>
																							<div class="col-md-9">
																								<select name="techCompentecy" id="techCompetenceId"  class="form-control select2me circle">
																								 <option value="">Select the Tech Competency </option>
																			             	<option th:each="competency : ${techCompetencyList}" th:value="${competency.competencyId}" th:text="${competency.competencyName}" />
																				          </select> 
																							
																								<select name="leadCompentecy" id="leadCompetenceId"  class="form-control select2me circle">
																								 <option value="">Select the Lead Competency </option>
																			             	<option th:each="competency : ${leadCompetencyList}" th:value="${competency.competencyId}" th:text="${competency.competencyName}" />
																				          </select> 
																							</div>
																							<label class="col-md-1 control-label"></label>
																						</div>
																						
																						</div>
																							
																							<br />
																							<div class="row">
																								<div class="form-group">
																								  <label class="col-md-2 control-label"></label>
																									<div class="col-md-9">
																									<textarea id="competenceValue" style="border-width:2px;" rows="3" cols="25" name="editor1" data-error-container="#editor1_error"></textarea>
																									</div>
																									<span class="col-md-1"></span>
																								</div>
																								
																							</div>
																							<br />
																							
																						</div>
																						<div class="modal-footer">
																							<div class="row">
																								<div class="col-md-offset-3 col-md-9" style="margin-left: -22%;">
																									<button class="btn blue" type="submit">Save</button>
																									<input type="button" class="btn blue" id="clearId" value="Clear" onClick="clearProject();" />
													
																								</div>
																							</div>
													
																						</div>
																					<!-- </form> -->
																				</div>
																			</div>
													
																		</div>
																	</div>

			
															</div>
														</div>
													</div>
												</div>
												<!-- END PAGE CONTENT-->
																		
										<!-- END SERVICE BOX -->
								
										<div class="clearfix"></div>
									</div>
									<!-- END CONTAINER -->
								</div>
								
								</form>
				</div>
			 <!-- END PAGE CONTAINER -->				
								
			
			
			<!-- BEGIN COPYRIGHT -->
				<div class="copyright">
					<div class="container">
						<div class="row">
							<div class="col-md-8">
								<p>
									<span class="margin-right-10">
										<script>
					    	document.write(new Date().getFullYear());
					                    </script>
				     	    © HatchBird Solutions. ALL Rights Reserved.</span>
								</p>
							</div>
							
						</div>
					</div>
				</div>
		   <!-- END COPYRIGHT -->
	</body>
</html>